PORT=3000
MONGODB_URI=mongodb://ahmadrifqisya_db_user:arrkyyjaa25@ac-qtbvdov-shard-00-00.bkzwxsj.mongodb.net:27017,ac-qtbvdov-shard-00-01.bkzwxsj.mongodb.net:27017,ac-qtbvdov-shard-00-02.bkzwxsj.mongodb.net:27017/?ssl=true&replicaSet=atlas-13slys-shard-0&authSource=admin&appName=Cluster0
NODE_ENV=development
JWT_SECRET=rahasia-jwt-sangat-panjang-dan-sulit-ditebak
JWT_EXPIRES_IN=1d
EXTERNAL_API_KEY=da828c509e12e63fffd44b8f23e1a3aa9ce326cb91481c9553d60e55100815ab